<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Kysely - Resthome</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h1>REST Home Page</h1>

	<h2>Kaikki Kysymykset</h2>
	<p>
		<strong>Method:</strong> GET <strong>Endpoint:</strong>
		<strong><a href="/kysymykset">/kysymykset</a></strong>
	</p>
	<p>
		<strong>JSON Esimerkki:</strong>
	</p>
	<pre><code>      {
    "kysymysid": 1,
    "kysymys": "Sukupuoli:",
    "kysymystyyppi": "Radiobutton",
    "vaihtoehdot": [
      {
        "vaihtoehtoId": 1,
        "vaihtoehto": "Mies",
        "jarjestusnumero": 1
      },
      {
        "vaihtoehtoId": 2,
        "vaihtoehto": "Nainen",
        "jarjestusnumero": 2
      },
      {
        "vaihtoehtoId": 3,
        "vaihtoehto": "Muu",
        "jarjestusnumero": 3
      }	</code></pre>

	<h2>Kysymys Id :llä</h2>
	<p>
		<strong>Method: </strong> GET <strong>Endpoint:</strong>
		<strong><a href="/kysymys/2">/kysymys/2</a></strong>
	</p>
	<p>
		<strong>JSON Esimerkki:</strong>
	</p>
	
	<pre><code>	{
  "kysymysid": 2,
  "kysymys": "Status:",
  "kysymystyyppi": "Selectbox",
  "vaihtoehdot": [
    {
      "vaihtoehtoId": 4,
      "vaihtoehto": "Opiskelija",
      "jarjestusnumero": 1
    },
    {
      "vaihtoehtoId": 5,
      "vaihtoehto": "Henkilökunta",
      "jarjestusnumero": 2
    },
    {
      "vaihtoehtoId": 6,
      "vaihtoehto": "Opettaja",
      "jarjestusnumero": 3
    },
    {
      "vaihtoehtoId": 7,
      "vaihtoehto": "Muu",
      "jarjestusnumero": 4
    }
  ],
  "vastaus": [
    {
      "vastausid": 2,
      "vastausteksti": null,
      "vaihtoehto": {
        "vaihtoehtoId": 4,
        "vaihtoehto": "Opiskelija",
        "jarjestusnumero": 1
      }
    }
  ]
}	</code></pre>

	<h2>Uusi Kysymys</h2>
	<p>
		<strong>Method:</strong> POST <strong>Endpoint: /kysymykset</strong> 
		(Kokeile <a href="https://www.getpostman.com/" target="_blank">Postmänillä</a>/jne.)
	</p>
	<p>
		<strong>JSON Esimerkki:</strong>
	</p>
	<pre><code>	{
	
	"kysymys": "Lempivärisi:",
	"kysymystyyppi": "Tekstikysymys",
	"kysely": {
		"kyselyid": 1
	}
	}</code></pre>
	
	<h2>Kaikki Vastaukset</h2>
	<p>
		<strong>Method:</strong> GET <strong>Endpoint:</strong>
		<strong><a href="/vastaukset">/vastaukset</a></strong>
	</p>
	<p>
		<strong>JSON Esimerkki:</strong>
	</p>
	<pre><code>    {
    "vastausid": 1,
    "vastausteksti": null,
    "vaihtoehto": {
      "vaihtoehtoId": 1,
      "vaihtoehto": "Mies",
      "jarjestusnumero": 1
    }
  },
  {
    "vastausid": 2,
    "vastausteksti": null,
    "vaihtoehto": {
      "vaihtoehtoId": 4,
      "vaihtoehto": "Opiskelija",
      "jarjestusnumero": 1
    }</code></pre>

	<h2>Vastaus Id :llä</h2>
	<p>
		<strong>Method: </strong> GET <strong>Endpoint:</strong>
		<strong><a href="/vastaus/2">/vastaus/2</a></strong>
	</p>
	<p>
		<strong>JSON Esimerkki:</strong>
	</p>
	
	<pre><code>	{
	"vastausid": 3,
	"vastausteksti": "Kahvi, tee, kaakao",
	"vaihtoehto": null
	}	</code></pre>
	
	<h2>Uusi Vastaus (EI TOIMI)</h2>
	<p>
		<strong>Method:</strong> POST <strong>Endpoint: /vastaukset</strong> 
		(Kokeile <a href="https://www.getpostman.com/" target="_blank">Postmänillä</a>/jne.)
	</p>
	<p>
		<strong>JSON Esimerkki:</strong>
	</p>
	<pre><code>	{
	"vaihtoehto": {
		"vaihtoehto": "JokuMuu",
		"jarjestusnumero": 4
	},
    	"kysymys": {
    		"kysymysid": 1
    		}
	}	</code></pre>
	
	<h2>Kaikki Kyselyt</h2>
	<p>
		<strong>Method:</strong> GET <strong>Endpoint:</strong> 
		<strong><a href="/kyselyt">/kyselyt</a></strong>
	</p>
	<p>
		<strong>JSON Esimerkki:</strong>
	</p>
	<pre><code>ESIMERKKI LIIAN PITKÄ MENKÄÄ ITE KATTOO LINKIN KAUTTA</code></pre>
	
	<h2>Kysely Id :llä</h2>
	<p>
		<strong>Method: </strong> GET <strong> Endpoint: </strong>
		<strong><a href="/kysely/1">/kysely/1</a></strong>
	</p>
	<p>
		<strong>JSON Esimerkki:</strong>
	</p>
	<pre><code>ESIMERKKI LIIAN PITKÄ MENKÄÄ ITE KATTOO LINKIN KAUTTA</code></pre>
	
		<h2>Uusi Kysely</h2>
	<p>
		<strong>Method:</strong> POST <strong>Endpoint: /kyselyt</strong> 
		(Kokeile <a href="https://www.getpostman.com/" target="_blank">Postmänillä</a>/jne.)
	</p>
	<p>
		<strong>JSON Esimerkki:</strong>
	</p>
	<pre><code>	{ 
	"otsikko": "Uusi kysely",
	"kuvaus": "esimerkki kuvaus uudelle kyselylle"
	}	</code></pre>
	
    </body>
</html>